[submodule "libultraship"]
	path = libultraship
	url = git@github.com:JRickey/libultraship.git
	branch = ssb64
[submodule "torch"]
	path = torch
	url = https://github.com/JRickey/Torch.git
	branch = ssb64
